{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div> <h1 class="text-center bg-steel text-white py-1" style="border-radius: 4px; font-weight: bold;"> Sign Up</h1></div>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-weight: bold;">Register</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
